[submodule "bundle/zsh-syntax-highlighting"]
	path = bundle/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "bundle/zsh-git-prompt"]
	path = bundle/zsh-git-prompt
	url = https://github.com/qqshfox/zsh-git-prompt.git
[submodule "bundle/git-flow-completion"]
	path = bundle/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "bundle/scm_breeze"]
	path = bundle/scm_breeze
	url = https://github.com/ndbroadbent/scm_breeze.git
