[submodule "bundle/zsh-syntax-highlighting"]
	path = bundle/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "bundle/zsh-git-prompt"]
	path = bundle/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule "bundle/git-flow-completion"]
	path = bundle/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "bundle/scm_breeze"]
	path = bundle/scm_breeze
	url = https://github.com/ndbroadbent/scm_breeze.git
[submodule "bundle/zsh-completions"]
	path = bundle/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "bundle/base16-shell"]
	path = bundle/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
